/* botão carrinho dos instrumentos */
.carrinho {
    cursor: pointer;
    width: 100%;
    padding: 3px;
    background: #6699cc;
    border-radius: 8px;
}
.carrinho:hover {
    background: #2a2f43f1;
    transition: .3s;        
}
/* caixas de informações index.php */
.feature-box .title-feature {
    font-weight: bold;
    font-size: 0.3rem;
}
.feature-box .text-feature {
    font-size: 0.85rem;
    color: #6c757d;
}
/* caixa de checkout.php */
.finalizar {
    cursor: pointer;
    width: 100%;
    padding: 8px;
    background: #35BF3E;
    border-radius: 8px;
    }
.finalizar:hover {
    background: #2a2f43f1;
    transition: .3s;        
}
.checkout-container {
    background-color: #f6f6f6;
    padding: 2rem;
    border-radius: 1.7rem;            
    width: 40rem;
}
