/* botão carrinho dos instrumentos */
.carrinho {
    width: 100%;
    padding: 3px;
    background: #6699cc;
    border-radius: 8px;
}
.carrinho:hover {
    background: #2a2f43f1;
    transition: .3s;        
}
.margin-top-5{
    margin-top: 5px;
}

/* caixas de informações index.php */
.feature-box .title-feature {
    font-weight: bold;
    font-size: 1rem;
}
.feature-box .text-feature {
    font-size: 0.85rem;
    color: #6c757d;
}
.feature-box .feature-icon {
    color: #323C90;
}
.feature-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd; /* Adiciona uma borda */
    border-radius: 8px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaço entre as caixas */
    background-color: #f8f9fa; /* Cor de fundo das caixas */
}
/* caixa de checkout.php */
.finalizar {
    cursor: pointer;
    width: 100%;
    padding: 8px !important;
    background: #35BF3E;
    border-radius: 8px;
    }
.finalizar:hover {
    background: #2a2f43f1;
    transition: .3s;        
}
.checkout-container {
    background-color: #f6f6f6;
    padding: 2rem;
    border-radius: 1.7rem;            
    width: 40rem;
}
/* página detalhes */
.detalhes-preco{
    font-size: xxx-large;
    text-align: left;
}
.detalhes:hover{
    background: #2a2f43f1;
    transition: .3s;
}
.detalhes {
    width: 100%;
    padding: 3px;
    background: #b6babe;
    border-radius: 8px;
}
/* Media query para telas menores */
@media (max-width: 768px) {
    .sidebar {
        width: 40% !important; /* Largura de 45% em telas menores */
    }
}